:root {
--primary-text-color: #212121;
--title-text-color: #757575;
--accent-color: #2196F3;
--hero-text-color: #FFFFFF;
}
/* цвет логотипа студия #000000 */
/* цвет первичный фон background: #E5E5E5; */
/* цвет вторичный фон background: #2F303A; */
/* цвет промежуточный фон background: #F5F4FA; */

body {
    font-family: Roboto, Tahoma, sans-serif;
    background-color: #E5E5E5;
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*-----------------------HEADER----------------------*/

header {
    background-color: var(--hero-text-color);
}
        
ul {
    list-style: none;
}

.link {
    text-decoration: none;
}
    
.logo-blue {
    color: var(--accent-color);
    font-family: Raleway, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-black {
    color: #000000;
    font-family: Raleway, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.site-navigation {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-navigation:hover,
.site-navigation:focus {
    color: var(--accent-color);
}

.auth-navigation {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14x;
    letter-spacing: 0.02em;
}

.auth-navigation:hover,
.auth-navigation:focus {
    color: var(--accent-color);
}

/*-----------------------HERO----------------------*/

.hero {
    background: #2F303A;
}

.hero-title {
    color: var(--hero-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;             
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;              
}

.hero-btn {
    color: var(--hero-text-color);
    background-color: var(--accent-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;            
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/*-----------------------SECTION----------------------*/
.block-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.block-title-text {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/*------------------SECTION OUR TEAM----------------------*/
.block-our-team {
    background-color: #F5F4FA;
}

.feature-list .title {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;        
    text-align: center;
    letter-spacing: 0.03em;
}

.feature-list .text {
    font-size: 16px;
    line-height: 1.19px;
    text-align: center;
    letter-spacing: 0.03em;
}

/*-----------------------SECTION PORTFOLIO----------------------*/

.block-portfolio-btn {
    color: var(--primary-text-color);
    background-color: #F5F4FA;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
}

.block-portfolio-btn:hover,
.block-portfolio-btn:focus {
    color: var(--hero-text-color);
    background-color: var(--accent-color);
}
.block-portfolio-list h3 {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.block-portfolio-list p {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
            
}

/*-----------------------FOOTER----------------------*/
footer {
    background-color: #2F303A;
}

.location-text {
    color: var(--hero-text-color);
    font-style: normal;
}

.location-list {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.location-list:hover,
.location-list:focus {
    color: var(--accent-color);
}
